.header {
  display: flex;
  justify-content: space-between;
  gap: 18em;
  box-sizing: border-box;
}

.status {
  text-align: center;
}

.indicators {
  display: flex; /* Align items side by side */
  justify-content: center; /* Center them horizontally */
  gap: 10px; /* Add space between indicators */
  margin-top: 10px;
}

.indicator {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  min-width: 60px; /* Ensure a consistent size */
  text-align: center;
}

.indicator.green {
  background-color: var(--green);
  color: white;
}

.indicator.red {
  background-color: var(--red);
  color: white;
}
