.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0;
}

.button.green {
  background-color: green;
  color: white;
}

.button.red {
  background-color: red;
  color: white;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.control-buttons .button {
  margin: 5px;
}
