.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.button {
  padding: 0.7em 1.3em;
  font-size: 1.3rem;
  border: none;
  border-radius: 50em;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: center;
  margin: 0.5em;
  font-weight: 500;
  gap: 0.6em;
}

.button.green {
  background-color: #4fc451;
  color: white;
}

.button.red {
  background-color: #ff5740;
  color: white;
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.control-buttons .button {
  margin: 5px;
}
