.dev-window-container {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 10;
}

.open-window-button {
  background: #286fe2;
  font-weight: 500;
  color: white;
}

.dev-window {
  display: none;
  border: 1px solid #e7ebf0;
  box-shadow: 0 2px 5px rgba(88, 96, 123, 0.08);
  border-radius: 14px;
  padding: 0.5em;
  flex-direction: column;
  gap: 0.5em;
  background: white;
}

.dev-window.active {
  display: flex;
}

.log-container {
  background: #2e3038;
  width: 35vw;
  height: 40vh;
  border-radius: 7px;
  padding: 0.7em 0.9em;
  min-width: 25em;
  min-height: 20em;
  gap: 0.3em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.log-component.log {
  color: white;
}

.log-component.error {
  color: rgba(254, 104, 105, 1);
}

.log-component.warn {
  color: rgba(245, 191, 79, 1);
}

.log-component.connect {
  color: rgba(135, 233, 122, 1);
}

.dev-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab-buttons-container {
  display: flex;
}

.tab-button,
.close-window-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0.3em 0.7em;
  border-radius: 7px;
  font-weight: 500;
  cursor: pointer;
}

.close-window-button {
  color: rgba(0, 0, 0, 0.5);
}

.tab-button:hover,
.close-window-button:hover {
  background: #f6f9ff;
}

.tab-button.selected,
.close-window-button:hover {
  color: #1831cc;
  background: #f6f9ff;
  font-weight: 600;
}
