@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

#root,
.App {
  height: 100%;
}

.app {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.main-container {
  margin: 20px;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.gcode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  border-radius: 15px;
  padding: 2.5em 4.5em 3.5em 4.5em;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
